@charset "utf-8";

.header {
  padding: 15px 0;
  width: 100%;
  display: table;
  position: fixed;
  background-color: #fff;
}

.icon-bolt {
  float: left;
  display: table-cell;
}
.header-contact {
  float: right;
  display: table-cell;
  background-color: #74cfae;
  font-size: 12px;
  padding: 14px 12px;
  transition: .3s;
  color: #fff;
}
.header-contact:hover {
  cursor: pointer;
  color: #333;
}
body {
  font-family: "Lato","Raleway"; 
  color: #333;
}
.inner {
  margin: 0 auto;
  width: 1100px;
}

.clearfix:after {
  content: "";
	display: block;
	clear: both;
}
/* -------------bolt them----------------- */
.title {
  background-color: #f2f2f2;
  padding: 250px 0;
}
.bolt-theme-words {
  text-align: center;
}
h1 {
  font-size: 90px;
  font-weight: 700;
  color: #74cfae;
  margin-bottom: 20px;
}
.bolt-theme-p {
  font-size: 30px;
  color: #c0c0c0;
}
/* ---------what we can do------------ */

.what-we-can-do {
  background-color: #74cfae;
  padding-top: 50px;
}
.iphone {
  float: left;
}
.what-we-can-do-right {
  margin-left: 200px;
  color: #fff;
  text-align: center;
  float: left;
  width: 60%;
}
.what-we-can-do-right h2 {
  font-size: 24px;
}
.what-we-can-do-p {
  font-size: 20px;
  margin-top: 35px;
  line-height: 1.5;
}

/* ---------our latest work----------- */

.our-latest-work {
  text-align: center;
  padding-top: 60px;
  padding-bottom: 70px;
  background-color: #f2f2f2;
}
.our-latest-work h2 {
  font-size: 24px;
}
/* --- */
.our-latest-pic {
  float: left;
  margin: 40px 100px 40px 0;
  opacity: .7;
  transition: .3s;
}
.our-latest-pic:hover {
  opacity: 1;
}

.our-latest-pic:nth-child(3n) {
  margin-right: 0;
}

.our-latest-work-p {
  margin: 50px 90px  0 0;
  display: inline-block;
  width: 65%;
}

.email-me {
  font-size: 12px;
  padding: 14px 20px;
  background-color: #74cfae;
  color: #fff;
  transition: .3s;
  display: inline-block;
  vertical-align : middle;
}
.email-me:hover {
  cursor: pointer;
  color: #333;
}


/* --------------our skills----------------- */

.our-skills {
  text-align: center;
  background-color: #4e4e4e;
  padding-top: 70px;
  padding-bottom: 100px;
  color: #f2f2f2;
}
.our-skills h2 {
  text-align: center;
  font-size: 24px;
  padding-bottom: 70px;
}
.skillsfont {
  font-size: 16px;
  padding-top: 15px;
}
.skillscircle {
  margin-left: 180px;
  display: inline-block;
  text-align: center;
}
.skillscircle:first-child {
  margin-left: 0;
}


/* ------------------nav------------------- */

.nav-list {
  background-color: #f2f2f2;
  padding: 200px;
  text-align: center;
}
.nav-box {
  text-align: center;
  display: inline-block;
}
.nav-font {
  display: block;
  box-sizing: border-box;
  width: 185px;
  padding: 40px;
  color: #74cfae;
  transition: .3s;
}
.nav-font:hover {
  background-color: #fff;
  cursor: pointer;
}
/* -----------------footer--------------------- */
.footer {
  padding-top: 20px;
  padding-bottom: 25px;
  background-color: #74cfae;
  
}
.footer-position {
}
.footer-font {
  color: #fff;
  float: right;

}

/* ----PC---- */
@media(min-width: 1200px){
  
}

/* ----TAB---- */
@media (min-width: 768px) and (max-width: 1199px){

}


/* ----SP---- */
@media (max-width:767px ){

}
