@charset "utf-8";

.header {
  z-index: 100;
  padding: 15px 0;
  width: 100%;
  position: fixed;
  background-color: #fff;
}

.icon-bolt {
  float: left;
}
.header-contact {
  float: right;
  background-color: #74cfae;
  font-size: 12px;
  padding: 14px 12px;
  transition: .3s;
  color: #fff;
  text-decoration: none;
}
.header-contact:hover {
  cursor: pointer;
  color: #333;
}
body {
  font-family: "Lato","Raleway"; 
  color: #333;
}
.inner {
  margin: 0 auto;
  width: 1100px;
}

.clearfix:after {
  content: "";
	display: block;
	clear: both;
}
/* -------------bolt them----------------- */
.main-padding {
  padding-top: 78px;
}
.title {
  background-color: #f2f2f2;
  padding: 250px 0;
}
.bolt-theme-words {
  text-align: center;
}
h1 {
  font-size: 90px;
  font-weight: 700;
  color: #74cfae;
  margin-bottom: 20px;
}
.bolt-theme-p {
  font-size: 30px;
  color: #c0c0c0;
}
/* ---------what we can do------------ */

.what-we-can-do {
  background-color: #74cfae;
  padding-top: 50px;
}
.iphone {
  float: left;
}
.what-we-can-do-right {
  margin-left: 200px;
  color: #fff;
  text-align: center;
  float: left;
  width: 60%;
}
.what-we-can-do-right h2 {
  font-size: 24px;
}
.what-we-can-do-p {
  font-size: 20px;
  margin-top: 35px;
  line-height: 1.5;
}

/* ---------our latest work----------- */

.our-latest-work {
  text-align: center;
  padding-top: 60px;
  padding-bottom: 70px;
  background-color: #f2f2f2;
}
.our-latest-work h2 {
  font-size: 24px;
}
/* --- */

.imagelist {
  margin-top: 40px;
}
.our-latest-pic {
  float: left;
  margin-left: 100px;
  /* margin-top: 40px;  */
  opacity: .7;
  transition: .3s;
}
.our-latest-pic:hover {
  opacity: 1;
}

.our-latest-pic:nth-child(n+4) {
  margin-top: 80px;
}
.our-latest-pic:nth-child(3n+1) {
  margin-left: 0;
}
.latest-work-under {
  margin-top: 50px;
}
.our-latest-work-p {
  display: inline-block;
  width: 65%;
  margin-right: 90px;
}

.email-me {
  font-size: 12px;
  padding: 14px 20px;
  background-color: #74cfae;
  color: #fff;
  transition: .3s;
  display: inline-block;
  vertical-align : middle;
  text-decoration: none;
}
.email-me:hover {
  cursor: pointer;
  color: #333;
}


/* --------------our skills----------------- */

.our-skills {
  text-align: center;
  background-color: #4e4e4e;
  padding-top: 70px;
  padding-bottom: 100px;
  color: #f2f2f2;
}
.our-skills h2 {
  text-align: center;
  font-size: 24px;
}
.spacebox {
  margin-top:70px;
}
.skillsfont {
  font-size: 16px;
  padding-top: 15px;
}
.skillscircle {
  margin-left: 180px;
  display: inline-block;
  text-align: center;
}
.skillscircle:first-child {
  margin-left: 0;
}


/* ------------------nav------------------- */

.nav-list {
  background-color: #f2f2f2;
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
}
.nav-box {
  text-align: center;
  display: inline-block;
  width: 185px;
}
.nav-font {
  display: block;
  box-sizing: border-box;
  width: 100%;
  padding: 40px;
  color: #74cfae;
  transition: .3s;
}
.nav-font:hover {
  background-color: #fff;
  cursor: pointer;
}
/* -----------------footer--------------------- */
.footer {
  padding-top: 20px;
  padding-bottom: 25px;
  color: #fff;
  background-color: #74cfae;
  text-align: right;
}

/* ----PC---- */
@media(min-width: 1200px){
  
}

/* ----TAB---- */
@media (min-width: 768px) and (max-width: 1199px){

}


/* ----SP---- */
@media (max-width:767px ){

}
