@charset "utf-8";

.header {
  background-color: #fff;
  padding: 15px 0;
  position: fixed;
  width: 100%;
  z-index: 100;
}
.icon-bolt {
  float: left;
}
.header-contact {
  background-color: #74cfae;
  color: #fff;
  float: right;
  font-size: 12px;
  padding: 14px 12px;
  text-decoration: none;
  transition: .3s;
}
.header-contact:hover {
  cursor: pointer;
  color: #333;
}
body {
  color: #333;
  font-family: "Lato"; 
}
.font-change{
  font-family: "Raleway";
}
.inner {
  margin: 0 auto;
  width: 1100px;
}
.clearfix:after {
  content: "";
	clear: both;
	display: block;
}
.humburger-parent {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  float: right;
  height: 40px;
  position: relative;
  width: 50px;
}
.humburger-parent:hover {
  cursor: pointer;
}
.hum-line {
  background-color: #ddd;
  height: 1px;
  left: 10px;
  position: absolute;
  width: 30px;
}
.hum-top {
  top: 9px;
}
.hum-middle {
  top: 19px;
}
.hum-bottom {
  top: 29px;
}
.main-padding {
  padding-top: 78px;
}
.title {
  background-color: #f2f2f2;
  padding: 250px 0;
}
.bolt-theme-words {
  text-align: center;
}
h1 {
  color: #74cfae;
  font-size: 90px;
  font-weight: 700;
  margin-bottom: 20px;
}
.bolt-theme-p {
  color: #c0c0c0;
  font-size: 30px;
}
.what-we-can-do {
  background-color: #74cfae;
  padding-top: 50px;
}
.iphone {
  float: left;
}
.what-we-can-do-right {
  color: #fff;
  float: left;
  margin-left: 200px;
  text-align: center;
  width: 60%;
}
.what-we-can-do-right h2 {
  font-size: 24px;
}
.what-we-can-do-p {
  font-size: 20px;
  line-height: 1.5;
  margin-top: 35px;
}
.our-latest-work {
  background-color: #f2f2f2;
  text-align: center;
  padding-top: 60px;
  padding-bottom: 70px;
}
.our-latest-work h2 {
  font-size: 24px;
}
.imagelist {
  margin-top: 40px;
}
.our-latest-pic {
  float: left;
  margin-left: 100px;
  opacity: .7;
  transition: .3s;
}
.pic-field {
  display: inline-block
}
img {
  vertical-align: bottom;
}
.our-latest-pic:hover {
  opacity: 1;
}
.our-latest-pic:nth-child(n+4) {
  margin-top: 80px;
}
.our-latest-pic:nth-child(3n+1) {
  margin-left: 0;
}
.latest-work-under {
  margin-top: 50px;
}
.our-latest-work-p {
  display: inline-block;
  margin-right: 90px;
  width: 65%;
}
.email-me {
  background-color: #74cfae;
  color: #fff;
  display: inline-block;
  font-size: 12px;
  padding: 14px 20px;
  transition: .3s;
  text-decoration: none;
  vertical-align : middle;
}
.email-me:hover {
  cursor: pointer;
  color: #333;
}

.our-skills {
  background-color: #4e4e4e;
  color: #f2f2f2;
  padding-top: 70px;
  padding-bottom: 100px;
  text-align: center;
}
.our-skills h2 {
  font-size: 24px;
  text-align: center;
}
.spacebox {
  margin-top: 70px;
}
.skillsfont {
  font-size: 16px;
  margin-top: 15px;
}
.skillscircle {
  display: inline-block;
  margin-left: 180px;
  text-align: center;
}
.skillscircle:first-child {
  margin-left: 0;
}
.nav-list {
  background-color: #f2f2f2;
  font-size: 0;
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
}
.nav-box {
  display: inline-block;
  font-size: 16px;
  text-align: center;
  width: 185px;
}
.nav-font {
  box-sizing: border-box;
  color: #74cfae;
  display: block;
  padding: 40px;
  transition: .3s;
  width: 100%;
}
.nav-font:hover {
  background-color: #fff;
  cursor: pointer;
}
.footer {
  background-color: #74cfae;
  color: #fff;
  padding-top: 20px;
  padding-bottom: 25px;
  text-align: right;
}

@media(min-width: 1200px){
  .humburger-parent {
    display: none;
  }
}

/* ----TAB---- */
@media (max-width: 1199px){
  .humburger-parent {
    display: none;
  }
  .inner {
    width: 97%;
  }
  .what-we-can-do {
    text-align: center;
    padding-bottom: 25px;
  }
  .iphone {
    float: none;
  }
  .what-we-can-do-right {
    float: none;
    margin: 0 auto;
    width: 100%;
  }
  .what-we-can-do-right h2 {
    font-size: 24px;
    margin-top: 20px;
  }
  .imagelist {
    margin-top: 40px;
  }
  .our-latest-pic {
    float: none;
    margin-left: 0;
  }
  .our-latest-pic:nth-child(n+4) {
    margin-top: 0;
  }
  .our-latest-pic:nth-child(3n+1) {
    margin-left: 0;
    margin-top: 80px;
  }
  .our-latest-pic:first-child {
    margin-top: 0;
  }
  .latest-work-under {
    margin-top: 80px;
  }
  .our-latest-work-p {
    display: block;
    text-align: center;
    width: 100%;
  }
  .email-me {
    margin-top: 40px;
  }
  .skillscircle {
    display: block;
    margin-left: 0;
    margin-top: 88px;
  }
  .skillscircle:first-child {
    margin-top: 0;
  }
  .nav-box {
    width: 25%;
  }
}

@media (max-width:767px) {
  .header-contact{
    display: none;
  }
  .title {
    padding-top: 160px;
    padding-bottom: 130px;
  }
  h1 {
    font-size: 80px;
  }
  .what-we-can-do-right {
    float: none;
    margin: 0 auto;
    width: 100%;
  }
  .what-we-can-do-right h2 {
    font-size: 24px;
    margin-top: 20px;
  }
  .nav-list {
    padding: 50px 15px;
  }
  .nav-box {
    display: block;
    font-size: 16px;
    width: 100%;
  }
}